.navBar {
  list-style-type: none;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-direction: row;
  display: flex;
  flex: 0 0 auto;
}

.rightNav {
  margin-left: auto;
}

.navItem {
  display: block;
  max-width: 120px;
  padding: 16px;
}

.navItem:hover {
  background-color: #111111;
}
