li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-overflow: ellipsis;
  max-width: 120px;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
